.product_example {
  max-width: 100%;
  display: flex;
  background: rgba(0,0,0, 0.1);
  .products_container {
    max-width: 80%;
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(auto, 200px));
    grid-auto-rows: minmax(auto, 200px);
    background: white;
    .product{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: silver 0 0 3px 0;
      margin: 10px;
       img{
         max-width: 100px;
         height: 100px;
       }
    }
  }
}